<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/../../logs/nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />

    <target xsi:type="File"
            name="allFile"
            fileName="${when:when='${basedir}'=='/app':inner=/tmp/logs/app-${shortdate}.log:else=${basedir}/../../../logs/app-${shortdate}.log}"
            archiveEvery="Day"
            maxArchiveFiles="14"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />

    <target xsi:type="File"
            name="errorFile"
            fileName="${when:when='${basedir}'=='/app':inner=/tmp/logs/error-${shortdate}.log:else=${basedir}/../../../logs/error-${shortdate}.log}"
            archiveEvery="Day"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="console,allFile" />
    <logger name="*" minlevel="Info" writeTo="console,allFile" />
    <logger name="*" minlevel="Error" writeTo="console,errorFile" />
  </rules>
</nlog>
